<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
		<style>
			[ng-cloak] {
				display: none;
			}
		</style>
	</head>
	<body ng-app="todoapp" ng-cloak>
		<section id="todoapp" ng-controller="todosCtrl">
			<header id="header">
				<h1>todos</h1>
				<form ng-submit="addTodo()">
					<input id="new-todo" ng-model="todoToAdd" placeholder="What needs to be done?" autofocus>
				</form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main" ng-show="todos.length > 0">
				<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li ng-repeat="todo in todos | filter: statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo === editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed">
							<label ng-dblclick="editTodo(todo)">{{todo.text}}</label>
							<button class="destroy" ng-click="removeTodo(todo)"></button>
						</div>
						<form ng-submit="saveEdit()" cr-escape="revertEdit()">
							<input class="edit" cr-forcefocus="todo === editedTodo" ng-model="editedTodo.text">
						</form>
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer id="footer" ng-show="todos.length > 0">
				<!-- This should be `0 items left` by default -->
				<ng-pluralize id="todo-count" count="remainingCount" when="{'1':'1 item left', 'other':'{} items left'}"></ng-pluralize>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters">
					<li>
						<a ng-class="{selected: status === ''}" href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: status === 'active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: status === 'completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed" ng-click="clearCompleted()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove this ↓ -->
		<script src="bower_components/angularjs/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services/todoStore.js"></script>
		<script src="js/directives/crForceFocus.js"></script>
		<script src="js/directives/crEscape.js"></script>
		<script src="js/controllers/todosCtrl.js"></script>
	</body>
</html>
